.card {
    max-width: 300px;
    margin: 15px auto;
    padding: 15px;
    background-color: $front-color;
}

.card__image {
    height: 250px;
    background-size: cover;
    background-position: center;
}

.card__content {
    padding: 10px 0;
}

.card__name {
    height: 25px;
    overflow: hidden;
    margin-bottom: 20px;
}

.card__button {
    max-width: 120px;
    text-align: center;
    background-color: $btn-back;
    color: white;
    font-weight: 300;
    letter-spacing: 0.5px;
    border-radius: 2px;
    padding: 8px 10px;
    margin: 0;
}
