.containercard {
    max-width: 1200px;
    margin: auto;
    margin-top: 90px;
}

.card {
    max-width: 300px;
    margin: 15px auto;
    padding: 15px;
    background-color: $front-color;
}

.card__image {
    height: 250px;
    background-size: cover;
    background-position: center;
}

.card__content {
    padding: 10px 0;
}

.card__name {
    height: 25px;
    overflow: hidden;
}

.card__button {
    max-width: 120px;
    text-align: center;
    padding: 6px;
    margin: 20px 0 0;
    border: 1px solid $back-color;
}
