.navbar {
    display: flex;
    height: 60px;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
}

.navbar__item {
    padding: 0 15px;
}

.navbar--grey {
    background-color: $front-color;
}