
// Colors

// Grey color
$back-color: rgba(238, 241, 243, 1); 

// White color
$front-color: rgba(255, 255, 255, 1);

// light black 
$btn-back: rgba(68, 68, 68, 1);
$btn-backhover: rgba(31, 35, 42, 0.82);

// Navbar ---- light dark blue shade
$navbar-back: rgba(53, 47, 74, 0.88);

$heading: rgba(0, 0, 0, 0.72);